<section class="section">
  <div class="is-size-4 has-text-weight-bold">{{get_paired_device_name()}}</div>

  <div class="device-logo section">
    <ion-img src="/assets/fridge.png" ></ion-img>
  </div>

  <div class="is-flex is-justify-content-space-between is-align-items-center box info-box is-size-4 has-text-weight-bold has-text-centered has-text-white"
       [ngClass]=" is_connected() && get_is_fridge_on_error() ? 'error-red-background' : get_is_fridge_paused() ? 'has-background-grey' : 'has-background-info'">
    <div class="is-size-6">
      {{is_connected() ? "Připojeno" : "Odpojeno"}}
    </div>
    <ng-container *ngIf="is_connected() && !get_is_fridge_on_error() && !get_is_fridge_paused()">
      <div>
        Ok
      </div>
    </ng-container>
    <ng-container *ngIf="is_connected() && get_is_fridge_on_error() && !get_is_fridge_paused()">
      <div class="is-size-5">
        Porucha
      </div>
    </ng-container>
    <ng-container *ngIf="is_connected() && get_is_fridge_paused()">
      <div class="is-size-5">
        Pozastaveno
      </div>
    </ng-container>
  </div>

  <div *ngIf="get_is_fridge_on_error()" class="box info-box is-size-6 has-text-weight-bold has-text-centered">
    <ng-container *ngIf="get_is_in_temp_in_error()">
      <div class="is-flex mb-2 is-justify-content-space-between is-align-items-center" (click)="active_error_info_in_temp = !active_error_info_in_temp">
        <div class="is-flex is-justify-content-flex-start is-align-items-center">
          <ion-icon name="alert-circle" class="error-red-color is-size-3"></ion-icon>
          <div class="has-text-weight-medium pl-2">Chyba vnitřního teploměru</div>
        </div>
        <div [@InfoBoxRotatedState]="active_error_info_in_temp" class="is-size-5">></div>
      </div>
      <div  *ngIf="active_error_info_in_temp" class="is-size-7 box mt-2 has-background-light has-text-weight-normal has-text-left">
        Chyba vnitřního teploměru. Zkontrolujte, zda je správně připojen, nebo uveďte ledničku do továrního nastavení. V případě,
        že nebyl nalezen problém, vyměňte teploměr za nový popřípadě kontaktujte výrobce.
      </div>
    </ng-container>

    <ng-container *ngIf="get_is_out_temp_in_error()">
      <div class="is-flex mb-2 is-justify-content-space-between is-align-items-center" (click)="active_error_info_out_temp = !active_error_info_out_temp">
        <div class="is-flex is-justify-content-flex-start is-align-items-center">
          <ion-icon name="alert-circle" class="error-red-color is-size-3"></ion-icon>
          <div class="has-text-weight-medium pl-2">Chyba venkovního teploměru</div>
        </div>
        <div [@InfoBoxRotatedState]="active_error_info_out_temp" class="is-size-5">></div>
      </div>
      <div  *ngIf="active_error_info_out_temp" class="is-size-7 box mt-2 has-background-light has-text-weight-normal has-text-left">
        Chyba venkovního teploměru. Zkontrolujte, zda je správně připojen, nebo uveďte ledničku do továrního nastavení. V případě,
        že nebyl nalezen problém, vyměňte teploměr za nový popřípadě kontaktujte výrobce.
      </div>
    </ng-container>

    <ng-container *ngIf="get_is_cooler_temp_in_error()">
      <div class="is-flex is-justify-content-space-between is-align-items-center" (click)="active_error_info_cooler_temp = !active_error_info_cooler_temp">
        <div class="is-flex is-justify-content-flex-start is-align-items-center">
          <ion-icon name="alert-circle" class="error-red-color is-size-3"></ion-icon>
          <div class="has-text-weight-medium pl-2">Chyba teploměru chladiče</div>
        </div>
        <div [@InfoBoxRotatedState]="active_error_info_cooler_temp" class="is-size-5">></div>
      </div>
      <div  *ngIf="active_error_info_cooler_temp" class="is-size-7 box mt-2 has-background-light has-text-weight-normal has-text-left">
        Chyba teploměru chladiče. Zkontrolujte, zda je správně připojen, nebo uveďte ledničku do továrního nastavení. V případě,
        že nebyl nalezen problém, vyměňte teploměr za nový popřípadě kontaktujte výrobce.
      </div>
    </ng-container>

  </div>


  <div class="is-flex is-justify-content-space-between is-align-items-center box info-box  is-size-4 has-text-weight-bold has-text-centered"
       [ngStyle]="!is_connected() || get_is_fridge_on_fatal_error() || get_is_fridge_paused() ? {'opacity': '0.5'} : null">
    <div class="is-size-6">
      Chlazení
    </div>

    <div class="napicu-switch">
      <label class="toggle">
        <input class="toggle-checkbox" type="checkbox" (change)="change_power_mode($event)"
               [checked]="is_connected() && !get_is_fridge_on_fatal_error() && get_power_mode() !== get_fridge_off_mode()"
               [disabled]="!is_connected() || get_is_fridge_on_fatal_error() || get_is_fridge_paused()">
        <div class="toggle-switch"></div>

      </label>
    </div>

  </div>


  <!--  <div class="is-size-4 has-text-weight-bold">Nastavení displaye</div>-->
<!--  <div class="box info-box has-background-info is-size-2 has-text-weight-bold has-text-centered has-text-white">-->
<!--    <div class="is-size-5">Zobrazení vnitřní teploty</div>-->
<!--    <div class=" display">-->
<!--      <div>-->
<!--        23.5°C-->
<!--      </div>-->
<!--    </div>-->

<!--  </div>-->

  <div class="settings-container">
    <div class="is-size-4">Jiné</div>

<!--    <div class="is-flex is-clickable is-justify-content-space-between is-align-items-center box info-box has-background-white is-size-4 has-text-weight-bold has-text-dark" routerLink="/device-settings">-->
<!--      <div class="is-size-6">-->
<!--        Nastavení displeje-->
<!--      </div>-->
<!--      <div class="is-size-5">></div>-->
<!--    </div>-->



    <div class="is-flex is-clickable is-justify-content-space-between is-align-items-center box info-box has-background-white is-size-4 has-text-weight-bold has-text-dark" routerLink="/device-settings">
      <div class="is-size-6">
        Nastavení zařízení
      </div>
      <div class="is-size-5">></div>
    </div>

    <div class="is-flex is-clickable is-justify-content-space-between is-align-items-center box info-box has-background-white is-size-4 has-text-weight-bold has-text-dark" routerLink="/device-display">
      <div class="is-size-6">
        Nastavení displeje
      </div>
      <div class="is-size-5">></div>
    </div>

    <div class="is-flex is-clickable is-justify-content-space-between is-align-items-center box info-box has-background-white is-size-4 has-text-weight-bold has-text-dark" (click)="on_click_factory_reset_button()">
      <div class="is-size-6">
        Obnovit tovární nastavení
      </div>
      <div class="is-size-5">></div>
    </div>

    <div class="is-flex is-clickable is-justify-content-space-between is-align-items-center box info-box has-background-white is-size-4 has-text-weight-bold has-text-dark" routerLink="/device-information">
      <div class="is-size-6">
        Informace o zařízení
      </div>
      <div class="is-size-5">></div>
    </div>
  </div>
</section>

<div @AlertAnimation class="box info-box alert-container" *ngIf="active_alert">
  <div class="is-size-5 has-text-weight-bold">Obnovit tovární nastavení</div>
  <p class="is-size-6">Nastavení a data ve vašem zařízení budou vymazána.</p>
  <div class="mt-2 is-flex is-justify-content-space-around is-align-items-center">
    <div class="p-2 is-clickable has-text-info has-text-weight-medium" (click)="active_alert = false;">ZRUŠIT</div>
    <div class="alert-button-line"></div>
    <div class="p-2 is-clickable has-text-info has-text-weight-medium" (click)="active_alert = false; factory_reset()">OBNOVIT</div>
  </div>
</div>

<div @AlertAnimationBackground class="alert" *ngIf="active_alert" (click)="active_alert = false;"></div>
