.device-logo{
  ion-img {
    height: 10rem !important;
    width: auto !important;
    align-items: center;
  }
}

@media screen and (max-width: 657px){
  .device-logo {
    padding: 1.5rem 0.75rem !important;
  }
}
