<section class="section">
  <app-napicu-settings-template>Informace o zařízení</app-napicu-settings-template>
    <div class="box mt-5 info-box has-background-white is-size-4 has-text-weight-bold has-text-dark">
      <div class="pb-2 pt-2 is-flex is-justify-content-space-between is-align-items-center" style="border-bottom: 1px solid rgba(0,0,0,0.4)">
        <div class="is-size-6">
          Název
        </div>
        <div class="is-size-6 has-text-weight-light">{{get_device_name()}}</div>
      </div>
      <div class="pb-2 pt-2 is-flex is-justify-content-space-between is-align-items-center ">
        <div class="is-size-6">
          Adresa MAC
        </div>
        <div class="is-size-6 has-text-weight-light">{{get_device_address()}}</div>
      </div>
    </div>
</section>
