
.info-icon {
  font-size: 23px;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
}

.info-box{
  border-radius: 13px;
}

.box-table  {
  .min-box {
    min-width: 45%;
  }
}

.settings-footer {
  ion-icon {
    font-size: 25px !important;
  }

  .settings-icon-info{
    font-weight: bold;
  }

  > div {
    text-align: center;
    padding: 5px 10px;
    border-radius: 5px;
  }

  > div:active {
      background-color: #e1e1e1;
  }
}
