<section class="section">
  <div class="box info-box has-background-info is-size-2 has-text-weight-bold has-text-centered has-text-white">
    <div style="position: relative">
      <ion-icon name="alert-circle-outline" class="info-icon" (click)="open_info_alert()"></ion-icon>
      {{get_in_temp()}}°C
    </div>
  </div>
  <div class="is-flex box-table is-justify-content-space-between" style="margin-bottom: 1.5rem">
    <div class="min-box">
      <div class="box info-box has-background-info is-size-4 has-text-weight-bold has-text-centered has-text-white">
        <div class="is-size-6">
          Venkovní teplota
        </div>
        <div>{{get_out_temp()}}°C</div>
      </div>
    </div>
    <div class="min-box">
      <div class="box info-box min-box has-background-info is-size-4 has-text-weight-bold has-text-centered has-text-white">
        <div class="is-size-6">
          Teplota chladiče
        </div>
        <div>{{get_cooler_temp()}}°C</div>
      </div>
    </div>
  </div>



  <div class="box-table " style="margin-bottom: 1.5rem;" >
    <div class="min-box" >
      <div class="box info-box is-clickable is-size-4 has-text-weight-bold has-text-centered " routerLink="/device-data">
        <div class="is-size-6">
          Teploty
        </div>
        <div style="flex: 1 1 50%; width: 100%;  position: relative; height: 50px;">
          <div style="position: absolute; top: 0; left: 0; right: 0; bottom: 0">
              <ngx-charts-line-chart
                [autoScale]="true"
                [results]="get_preview_char_data()"
                [xAxis]="false"
                [yAxis]="false"
                [tooltipDisabled]="true"
                [animations]="false"
                >
              </ngx-charts-line-chart>
          </div>
        </div>
      </div>
    </div>

  </div>

<!--  <div>-->
<!--    <ngx-charts-line-chart-->

<!--      [results]="saleData"-->

<!--      [legendTitle]="'Teploty'"-->

<!--      [legend]="true"-->
<!--      [showXAxisLabel]="true"-->
<!--      [showYAxisLabel]="true"-->
<!--      [xAxis]="true"-->
<!--      [yAxis]="true"-->
<!--      [gradient]="true">-->
<!--    </ngx-charts-line-chart>-->
<!--  </div>-->
</section>



<div @AlertAnimation class="box info-box alert-container" *ngIf="is_info_icon_alert_activated">
  <p class="is-size-6 has-text-weight-medium has-text-centered" style="border-bottom: 1px solid #0000004a;padding: 9px;">Zde uvidíte vnitřní teplotu chytré ledničky</p>
  <div class="mt-2 is-flex is-justify-content-space-around is-align-items-center">
    <div class="p-2 is-clickable has-text-info has-text-weight-medium" (click)="close_info_alert()">OK</div>
  </div>
</div>

<div @AlertAnimationBackground class="alert" *ngIf="is_info_icon_alert_activated" (click)="close_info_alert()"></div>
