<section class="section">
<!--  <ion-icon name="bluetooth-outline"></ion-icon>-->
  <div class="box info-box has-background-info is-size-2 has-text-weight-bold has-text-centered has-text-white">
    <div style="position: relative">
      <ion-icon name="alert-circle-outline" class="info-icon"></ion-icon>
      {{get_in_temp()}}°C
    </div>
  </div>

  <div class="is-flex box-table is-justify-content-space-between" style="margin-bottom: 1.5rem">
    <div class="min-box">
      <div class="box info-box has-background-info is-size-4 has-text-weight-bold has-text-centered has-text-white">
        <div class="is-size-6">
          Venkovní teplota
        </div>
        25.6°C
      </div>
    </div>

    <div class="min-box">
      <div class="box info-box min-box has-background-info is-size-4 has-text-weight-bold has-text-centered has-text-white">
        <div class="is-size-6">
          Teplota chladiče
        </div>
        25.6°C
      </div>
    </div>
  </div>





</section>
