<section class="section" style="overflow: auto">
  <app-napicu-settings-template>Nastavení světla</app-napicu-settings-template>
  <div class="box mt-5 info-box has-background-white is-size-4 has-text-weight-bold has-text-dark">
    <div class="pb-2 pt-2 is-flex is-justify-content-space-between is-align-items-center" >
      <div class="is-size-6">
        Osvětlení
      </div>
      <div class="is-size-6 has-text-weight-light">
        <div class="napicu-switch">
          <label class="toggle">
            <input class="toggle-checkbox" type="checkbox"  (change)="led_input_change($event)" [checked]="get_is_connected() && get_fridge_led_enable()" [disabled]="!get_is_connected()" >
            <div class="toggle-switch"></div>
          </label>
        </div>
      </div>
    </div>
  </div>


  <div class="box mt-5 info-box has-background-white is-size-4 has-text-weight-bold has-text-dark">

    <div class=" is-size-5 has-text-weight-bold">
      Jas
    </div>
    <div class="Slider mt-2">
      <ngx-slider [value]="get_fridge_led_brightness()"
                  (userChangeEnd)="write_brightness_value($event)"
                  (valueChange)="on_brightness_input_change($event)"
                  [options]="options"></ngx-slider>
    </div>

  </div>

  <div class="box mt-5 info-box has-background-white is-size-4 has-text-weight-bold has-text-dark">
    <div class="pb-2 pt-2" >
      <div class=" is-size-5 has-text-weight-bold">
        Barva
      </div>
      <div class="ColorPicker mt-2">
        <div class="ColorPickerColor color-picker-fw-color">
          <div class="color" [style]="{'background-color': get_css_color_format(get_led_color())}"></div>
        </div>

        <div class="mt-3 mb-3">
          <color-hue-picker
                         (onChangeComplete)="write_color_value($event.color.rgb)"
                         (onChange)="on_color_input_change($event.color.rgb)"
                         [color]="get_led_color()" ></color-hue-picker>
        </div>

        <div class="color-picker-fw-color">
          <div *ngFor="let i of get_user_favorites_colors(); let index = index" class="is-relative"
               [@FavouriteColorDeleteAnimation]="trigger"
               [@FavouriteColorScale]="index === holding_color">
            <div class="color" [style]="{'background-color': get_css_color_format(i)}"
                 (touchstart)="on_touch_favorite_color($event, index)"
                 (mouseup)="on_click_favorite_color(i)">
            </div>
            <ng-container *ngIf="delete_color_mode && !(i.r === 255 && i.g === 255 && i.b === 255)">
              <div class="delete-fw-color-icon error-red-color">
                <ion-icon name="close-circle" (click)="remove_user_favorite_color(index)"></ion-icon>
              </div>
            </ng-container>
          </div>

          <ng-container *ngIf="!delete_color_mode">
            <div class="add color" (click)="add_user_favorite_color()">
              <ion-icon name="add-circle-outline" style="width: 95%;height: 95%;"></ion-icon>
            </div>
          </ng-container>
        </div>

      </div>
      <ng-container *ngIf="delete_color_mode">
        <div class="is-size-5 mt-3 p-3 info-box has-background-info has-text-white has-text-centered is-clickable" (click)="exit_delete_mode()">
          <div>Hotovo</div>
        </div>
      </ng-container>
    </div>
  </div>
</section>

<div @AlertAnimation class="box info-box alert-container" *ngIf="hint_alert">
  <div class="is-size-5 has-text-weight-bold">Smazání oblíbené barvy</div>
  <p class="is-size-6">Oblíbenou barvu můžete smazat podržením prstem na barvu</p>
  <div class="mt-2 is-flex is-justify-content-space-around is-align-items-center">
    <div class="p-2 is-clickable has-text-info has-text-weight-medium" (click)="hint_alert = false; disable_favorites_colors_hint()">OK</div>
  </div>
</div>

<div @AlertAnimationBackground class="alert" *ngIf="hint_alert" (click)="hint_alert = false; disable_favorites_colors_hint()"></div>

