<section class="section" style="overflow: auto">
  <app-napicu-settings-template>Nastavení světla</app-napicu-settings-template>
  <div class="box mt-5 info-box has-background-white is-size-4 has-text-weight-bold has-text-dark">
    <div class="pb-2 pt-2 is-flex is-justify-content-space-between is-align-items-center" >
      <div class="is-size-6">
        Osvětlení
      </div>
      <div class="is-size-6 has-text-weight-light">
        <div class="napicu-switch">
          <label class="toggle">
            <input class="toggle-checkbox" type="checkbox"  (change)="led_input_change($event)" [checked]="get_is_connected() && get_fridge_led_enable()" [disabled]="!get_is_connected()" >
            <div class="toggle-switch"></div>
          </label>
        </div>
      </div>
    </div>
  </div>


  <div class="box mt-5 info-box has-background-white is-size-4 has-text-weight-bold has-text-dark">

    <div class=" is-size-5 has-text-weight-bold">
      Jas
    </div>
    <div class="Slider mt-2">
      <ngx-slider [(value)]="value" [options]="options"></ngx-slider>
    </div>

  </div>

  <div class="box mt-5 info-box has-background-white is-size-4 has-text-weight-bold has-text-dark">
    <div class="pb-2 pt-2" >
      <div class=" is-size-5 has-text-weight-bold">
        Barva
      </div>
      <div class="ColorPicker mt-2">
        <color-sketch [disableAlpha]="true" [presetColors]="[]" (onChangeComplete)="change_color($event)" [color]="get_led_color()" ></color-sketch>

<!--        <div class="color-picker-fw-color">-->
<!--          <div *ngFor="let i of get_user_favorites_colors()"  >-->
<!--            <div class="color" [style]="{'background-color': i}" (click)="color = i">-->

<!--            </div>-->
<!--          </div>-->

<!--          <div class="add color" (click)="add_user_favorite_color()">-->
<!--            <ion-icon name="add-circle-outline" style="width: 95%;height: 95%;"></ion-icon>-->
<!--          </div>-->
<!--        </div>-->

      </div>


<!--      <div class="mt-6 p-3 info-box has-background-info has-text-white has-text-centered is-clickable">-->
<!--        <div>Uložit</div>-->
<!--      </div>-->
    </div>
  </div>









</section>
