<section class="section">
  <app-napicu-settings-template>Nastavení zařízení</app-napicu-settings-template>
  <section class="mt-5">
    <!--Todo checked -->
    <div class="container">
      <div class="box info-box"
           [ngStyle]="!get_is_connected() || get_is_fridge_on_fatal_error() || get_power_mode() === 0 || get_is_fridge_paused() ? {'opacity': '0.5'} : null">
        <div class="is-size-5 has-text-weight-bold">Nastavení výkonu</div>
        <div class="is-flex is-flex-direction-column">
          <div class="is-flex is-align-items-center mt-2 p-3 info-box"
               [ngClass]="{'has-background-info has-text-white': get_selected_power_mode() === 1}"
               (click)="change_power_mode(1)">
            <ion-icon name="speedometer-outline" class="mr-2" style="font-size: 30px;"></ion-icon>
            <div class="has-text-weight-bold">Maximální režim</div>
          </div>
          <div class="is-flex is-align-items-center mt-2 p-3 info-box"
               [ngClass]="{'has-background-info has-text-white': get_selected_power_mode() === 2}"
               (click)="change_power_mode(2)">
            <ion-icon name="flash-outline" class="mr-2" style="font-size: 30px">></ion-icon>
            <div class="has-text-weight-bold">Vyvážený režim</div>
          </div>
          <div class="is-flex is-align-items-center mt-2 p-3 info-box"
               [ngClass]="{'has-background-info has-text-white': get_selected_power_mode() === 3}"
               (click)="change_power_mode(3)">
            <ion-icon name="leaf-outline" class="mr-2" style="font-size: 30px"></ion-icon>
            <div class="has-text-weight-bold">Úsporný režim</div>
          </div>
        </div>
      </div>
      <div class="settings-container">
        <div
          class="is-flex is-justify-content-space-between is-align-items-center box info-box is-size-4 has-text-weight-bold has-text-centered"
          [ngStyle]="!get_is_connected() || get_is_fridge_on_fatal_error() || get_power_mode() === 0 || get_is_fridge_paused() ? {'opacity': '0.5'} : null">
          <div class="is-size-6">
            Vnitřní ventilátory
          </div>
          <div class="napicu-switch">
            <label class="toggle">
              <input class="toggle-checkbox" type="checkbox" (change)="change_in_fans($event)"
                     [checked]="get_is_in_fans_enabled()"
                     [disabled]="!get_is_connected() || get_is_fridge_on_fatal_error() || get_power_mode() === 0 || get_is_fridge_paused()">
              <div class="toggle-switch"></div>
            </label>
          </div>
        </div>
        <div
          class="is-flex is-justify-content-space-between is-align-items-center box info-box is-size-4 has-text-weight-bold has-text-centered"
          [ngStyle]="!get_is_connected() ? {'opacity': '0.5'} : null">
          <div class="is-size-6">
            Upozornění na poruchy
          </div>
          <div class="napicu-switch">
            <label class="toggle">
              <input class="toggle-checkbox" type="checkbox" (change)="change_buzzing_on_error($event)"
                     [checked]="get_buzzing_on_error()" [disabled]="!get_is_connected()">
              <div class="toggle-switch"></div>
            </label>
          </div>
        </div>
        <div
          class="is-flex is-justify-content-space-between is-align-items-center box info-box is-size-4 has-text-weight-bold has-text-centered"
          [ngStyle]="!get_is_connected() ? {'opacity': '0.5'} : null">
          <div class="is-size-6">
            Pozastavit při otevření
          </div>
          <div class="napicu-switch">
            <label class="toggle">
              <input class="toggle-checkbox" type="checkbox" (change)="change_door_on_open($event)"
                     [checked]="get_fridge_stop_on_open_door()" [disabled]="!get_is_connected()">
              <div class="toggle-switch"></div>
            </label>
          </div>
        </div>
      </div>

     

      <div *ngIf="get_is_fridge_paused() && !get_is_fridge_on_fatal_error()" class="box error-red-background has-text-white is-size-5 has-text-weight-bold">
        <div>
          *Dveře jsou otevřené
        </div>
      </div>
      <div *ngIf="get_is_fans_in_error()" class="error-red-color is-size-5 has-text-weight-bold">
        <div>
          *Chyba chladících ventilátorů 
        </div>
      </div>


    </div>
  </section>
</section>


<!--<div @AlertAnimation class="box info-box alert-container alert-container-centered" *ngIf="rename_device_menu_activated">-->
<!--  <div class="is-size-5 has-text-weight-bold">Přejmenovat zařízení</div>-->

<!--  <div class="mt-5 mb-5 is-flex is-justify-content-space-around is-align-items-center">-->
<!--      <input [(ngModel)]="rename_input_value" (ngModelChange)="check_input_rename_device_name()" (keydown.enter)="rename_device()"-->
<!--             class="input info-box is-normal has-text-weight-bold" [ngClass]="{'is-danger': rename_input_on_error}" type="text" spellcheck="false" autofocus>-->
<!--  </div>-->

<!--  <div class="p-3 box info-box has-background-info has-text-white has-text-weight-bold has-text-centered" style="font-size: 1rem; width: 70%; margin: auto"-->
<!--       [ngClass]="{'is-clickable': !rename_input_on_error}" [ngStyle]="rename_input_on_error ? {'opacity': '0.5'} : null"-->
<!--       (click)="rename_device();">-->
<!--    Potvrdit-->
<!--  </div>-->
<!--</div>-->

<!--<div @AlertAnimationBackground class="alert" *ngIf="rename_device_menu_activated" (click)="close_rename_device_menu()"></div>-->
