
<ion-content padding>
  <ion-list padding>
    <ion-list-header>Paired Devices:</ion-list-header>
    <ion-item *ngFor="let device of pairedDevices">
      {{device.name}}
    </ion-item>
    <button ion-button block (click)="startScanning()">scan</button>
  </ion-list>
  <ion-list padding>
    <ion-list-header>Availlable Devices:</ion-list-header>
    <ion-item *ngFor='let device of unpairedDevices'>
      <span (click)="selectDevice(device.address)">
        {{device.name}}
      </span>
    </ion-item>
    <ion-item text-center>
      <ion-spinner name="crescent" *ngIf="gettingDevices"></ion-spinner>
    </ion-item>
    <button ion-button block (click)="disconnect()">Disconnect</button>
  </ion-list>
</ion-content>
