.MainText{
  padding: 0 !important;
}

.SearchButton{
  font-size: 1.05rem;
  font-weight: bold;
  border-radius: 19px;
  outline: none !important;
}

.DeviceItem {
  display: flex;
  align-items: center;
  font-weight: 700;
}

.DeviceItem:active {
  background-color: #e1e1e1;
}

.DeviceIcon {
  border-radius: 50%;
  padding: 7px;
  height: 15px;
  width: 15px;
  margin-right: 10px;
  background: var(--ion-color-primary);
  color: #fff;
}




