

<div class="section">
  <div class="MainText has-text-weight-bold p-4">Spárujte nové zařízení</div>
  <p class="has-text-centered">Pokud máte zařízení NapicuFridge, můžete ho spárovat zde.</p>

  <div class="section">

    <ng-container *ngIf="devicess.length">
      <div class="box DeviceItem" *ngFor="let device of devicess; let index = index" (click)="on_click_device(index)">
        {{device.name}}
      </div>
    </ng-container>

    <ng-container *ngIf="!devicess.length && scanning">
      <progress class="progress is-medium is-dark" max="100">45%</progress>
    </ng-container>

  </div>
</div>



  <div class="section has-text-centered">
    <button ion-button block class="button SearchButton" [ngClass]="{'is-danger': scanning, 'is-dark': !scanning}" (click)="scanning ? stop_scan() : scan()">
      {{!scanning ? 'Vyhledat zařízení' : 'Zastavit'}}
    </button>
  </div>


