<div class="box info-box mt-5">
  <div class="is-size-5 has-text-weight-bold"><ng-content></ng-content></div>
  <div class="box info-box mt-2 p-3 info-box"
       (click)="set_active_menu(!active_menu)" style="position: relative">
    <div class=" is-flex is-align-items-center is-justify-content-space-between">
      <div class="has-text-weight-bold">{{get_selected_option()}}</div>
      <div [@InfoBoxRotatedStateMinus]="active_menu" class="is-size-5">></div>
    </div>

    <ng-container *ngIf="active_menu">
      <div class="box info-box box-options">
          <div *ngFor="let i of options; let index = index" class="has-text-weight-bold is-clickable p-3 info-box"
               [ngClass]="{'has-background-info has-text-white': selected === index}" (click)="selected = index; on_change?.(index)">
            {{i}}
          </div>
      </div>
    </ng-container>
  </div>
</div>

<ng-container *ngIf="active_menu">
  <div class="alert" style="background: transparent !important;" (click)="set_active_menu(false)"></div>
</ng-container>
