<section class="section" style="overflow: auto !important;">
  <app-napicu-settings-template [redirect]="'/main/info'">Teploty</app-napicu-settings-template>
  <div class="box mt-5 info-box has-background-white is-size-4 has-text-weight-bold has-text-dark">
    <div class="pb-2 pt-2  is-align-items-center" >
      <div class="is-size-6">
        <!--Teploty-->
      </div>
      <div class="is-relative">
          <ngx-charts-line-chart
            [autoScale]="true"
            [results]="get_char_view_data()"
            [xAxis]="true"
            [scheme]="char_color_schema"
            [yAxis]="true"
            [tooltipDisabled]="true"
            [animations]="false"
          ></ngx-charts-line-chart>
        <ng-container *ngIf="!get_char_view_data()?.length">
          <div class="is-size-5 has-text-centered" style="position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); opacity: 0.7">Žádná data</div>
        </ng-container>

        <ng-container *ngIf="get_char_view_data()?.length">
          <div class="is-size-7" style="opacity: 0.7">Naposledy aktualizováno: {{get_char_last_update_basic_format()}}</div>
        </ng-container>
      </div>
    </div>
  </div>

  <app-napicu-option-template [options]="char_view_resolution_option" [on_change]="set_char_resolution">Nastavení rozsahu</app-napicu-option-template>

  <div class="box info-box mt-5" [ngStyle]="!get_char_view_data()?.length ? {'opacity': '0.5'} : null">
    <div class="is-size-5 has-text-weight-bold">Nastavení grafu</div>
    <div class="is-flex is-flex-direction-column">
      <div class="is-flex is-align-items-center is-justify-content-space-between mt-2 p-3 info-box" [ngStyle]="{ 'background-color': get_char_settings().display_in_temp ? get_char_in_temp_color() : '' }"
           [ngClass]="{'has-text-white': get_char_settings().display_in_temp}"
           (click)="switch_in_temp_display_char()">
        <div class="has-text-weight-bold">Vnitřní teplota</div>
        <ion-icon  name="checkmark-circle-outline" [ngStyle]="!get_char_settings().display_in_temp ? {'opacity': '0'} : null" style="font-size: 30px;"></ion-icon>
      </div>
      <div class="is-flex is-align-items-center is-justify-content-space-between mt-2 p-3 info-box" [ngStyle]="{ 'background-color': get_char_settings().display_out_temp ? get_char_out_temp_color() : '' }"
           [ngClass]="{'has-text-white': get_char_settings().display_out_temp}"
           (click)="switch_out_temp_display_char()">
        <div class="has-text-weight-bold">Venkovní teplota</div>
        <ion-icon name="checkmark-circle-outline" [ngStyle]="!get_char_settings().display_out_temp ? {'opacity': '0'} : null" style="font-size: 30px"></ion-icon>
      </div>
      <div class="is-flex is-align-items-center is-justify-content-space-between mt-2 p-3 info-box" [ngStyle]="{ 'background-color': get_char_settings().display_cooler_temp ? get_char_cooler_temp_color() : '' }"
           [ngClass]="{'has-text-white': get_char_settings().display_cooler_temp}"
           (click)="switch_cooler_temp_display_char()">
        <div class="has-text-weight-bold">Teplota chladiče</div>
        <ion-icon name="checkmark-circle-outline" [ngStyle]="!get_char_settings().display_cooler_temp ? {'opacity': '0'} : null" style="font-size: 30px"></ion-icon>
      </div>
    </div>
  </div>
</section>
