

$sum: 2;

.display{
  height: calc(32px * $sum);
  width: calc(128px * $sum);
  font-size: calc(16px * $sum);
  margin: auto;
  background: black;
  color: aqua;
  border: 1px solid white;

  >div{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}


